* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #e9eef6;
  width: 100vw;
  height: 12rem;
}

.invalid input,
.invalid textarea {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input,
.invalid textarea {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 50px #a5a5a5;
  width: 18rem;
  height: 15rem;
}

.card-top {
  width: 100%;
  height: 0.25rem;
}

.task-holder {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 95%;
  padding: 1rem 1rem;
}

.task-holder-header {
  max-width: 10rem;
  text-align: center;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding: 1px 1px !important;
}

.task-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #f6f7f8;
  padding: 5rem 10vw;
}

.task-button{
  cursor: pointer;
}
